.products-section {
  padding-top: 55px;

  .product-main-panel {
    display: flex;
    flex-wrap: wrap;
    margin: -17.5px;
  }
  .add-more-button {
    margin-top: 20px;
    * {
      outline: none;
      border: none;
      background-color: #222222;
      font-size: 36px;
      font-weight: 400;
      line-height: 43px;
      text-align: left;
      color: #f0f0f0;
      padding: 13px;
      border-radius: 15px;
      width: 100%;
      max-width: 100%;
      text-align: center;
      display: block;
      cursor: pointer;
    }
  }
}
